input[type=text] {
  padding: 8px ;
  margin: 3px 0;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 12px;
}
input[type=password] {
  padding: 8px ;
  margin: 3px 0;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 12px;
}

input[type=submit] {
  background-color: lightsalmon;
  color: black;
  padding: 12px 20px;
  border: 1px solid red;
  border-radius: 10px;
}

input[type=reset] {
  background-color: lightsalmon;
  color: black;
  padding: 12px 30px;
  border: 1px solid red;
  border-radius: 10px;
  float:right;
}

#p1{ color: red }
#p2{ color: red }
#p3{ color: red }
#p4{ color: red }
#p5{ color: red }
#p6{ color: red }
#p7{ color: red }



         



       
       